# Secretos
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Tests
.pytest_cache/
.coverage
htmlcov/

# PDFs generados temporalmente
*.pdf

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
